.centerItems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.links {
  flex-direction: row;
}
